.about {
    padding: 3rem 0;
    p {
        font-size: 18px;

        @include breakpoint-down(small) {
            font-size: 16px;
        }
    }

    .header-about {
        margin-bottom: 2rem;

        .about-text {
            display: inline-block;
            position: relative;
            margin-bottom: 1rem;
            
            p {
                padding-bottom: .5rem;
            }
            
            &:after {
                content: '';
                width: 80%;
                position: absolute;
                height: 1px;
                background-color: $primary-color;
            }
        }

        h3 {
            margin-bottom: 1rem;
            color: $primary-color;
        }
    }

    .header-image {
        margin-bottom: 2rem;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            -o-object-fit: cover;
            -o-object-position: center;
            border-radius: 0 !important;
        }
    }

    .image-container {
       img {
           border-radius: 1rem;
       }
    }

    .about-image {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .featured-about {
        background-color: $primary-color;
        color: white;
        padding: 3rem 0;
    }

    .section-2, .featured-about {
        margin-bottom: 2rem;
    }

    

    @include breakpoint-down(small) {
        h5 {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }

        .image-container.ratio2halfx1 {
            padding-top: 75%;
        }
    }
}