.sidebar-admin {
    background-color: $primary-color;
    padding: 1.5rem;
    color: $background;
    min-height: 100vh;

    .user {
        align-items: center;
        padding: 1.5rem 0;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid rgba(255,255,255, 0.3);

        h5 {
            font-weight: 500;
        }
        p {
            font-weight: 200;
            margin: 0;
        }

        .user-image {
            width: 60px;
            height: 60px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            margin-right: 0.75rem;
        }
    }
    
    a {
        color: white;

        li {
            padding: 0.5rem 0;
            margin-bottom: .5rem;
            border-bottom: 1px solid $primary-color;
    
            // &.active {
            //     border-bottom: 1px solid white;
            // }
        }
    }

    .button-close {
        font-size: 25px;
        color: white;
    }

    @include breakpoint-down(medium) {
        z-index: 999999;
        transform: translateX(-150vw);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: .2s all ease-in;

        &.active {
            transform: translateX(0);
            transition: .2s all ease-out;
            opacity: 1;
        }
    }
    
}

.dashboard {
    .stat-number {
        background-color: $primary-color;
        color: white;
        border-radius: 10px;
        padding: 1.5rem;

        .icon {
            margin-bottom: 1rem;
            span {
                font-size: 18px;
                font-weight: 500;
            }
            i {
                margin-right: .5rem;
            }
        }
    }
}

.main-admin {
    padding: 1.5rem;
}

.admin-content {
    padding: 1.5rem;
    @include breakpoint-down(medium) {
        padding: 1rem 0;

        .dataTables_length {
            margin-bottom: 1rem;
        }
    }

    img {
        object-fit: cover;
    }

    form {
        .btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary:hover {
            background-color: lighten($color: $primary-color, $amount: 10%);
            border-color: lighten($color: $primary-color, $amount: 10%);
            box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.3);
        }
    
        .btn-primary {
            background-color: $primary-color;
            border-color: $primary-color;
    
            &:hover {
                box-shadow: none;
            }
        }
    }

    .table {
        .categories {
            span:not(:last-child) {
                &:after {
                    content: ',';
                }
            }
        }

        .description {
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }

    .table, .edit-image {
        img {
            object-fit: cover;
            object-position: center;
        }
        &.contain {
            img {
                object-fit: contain;
            }
        }
    }
}