.articles {
    padding-bottom: 3rem;
    .article {
        .article-image {
            position: relative;
            width: 100%;
            padding-top: 100%;

            img {
                border-radius: 1rem;
                position: absolute;
                object-fit: cover;
                object-position: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &.medium {
            .article-image {
                margin-bottom: 1rem;
            }
        }

        &.big {
            min-height: 600px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 1rem;
            color: white;
            position: relative;

            .article-content {
                position: absolute;
                bottom: 20px;
                left: 1rem;
                padding-right: 1rem;

                .article-title {
                    color: white;
                }
            }
        }

        .author {
            img {
                border-radius: 50%;
            }
        }
    }
}