.articles {
    padding-bottom: 3rem;
    .article-medium {
        .article-image {
            margin-bottom: 1rem;
            position: relative;
            width: 100%;
            padding-top: 100%;

            img {
                border-radius: 1rem;
                position: absolute;
                object-fit: cover;
                object-position: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .author {
            img {
                border-radius: 50%;
            }
        }
    }
}