.article-detail {
    padding-bottom: 3rem;

    .article {
        &.header-article {
            margin-bottom: 0;
            &:before {
                background: linear-gradient(transparent 0%, rgba($primary-color, 0.8) 70%);
            }
            .article-content {
                bottom: 4rem;

                .col-12 {
                    margin: auto;
                    width: 90%;
                }
            }
        }
    }

    .article-detail-content {
        width: 90%;
        margin: auto;
        z-index: 20;
        position: relative;
        margin-top: -2rem;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        background-color: white;
        color: black;
        padding: 2rem;
    }
}