.ukm-page {
    .container {
        .main-product {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

            .ukm-image {
                img {
                    border-radius: 1rem;
                }

                #carousel {
                    .slick-slide {
                        margin: 0 .5rem;
                        border-radius: .5rem;
                        cursor: pointer;
                    }

                    .slick-current {
                        img {
                            border: 2px solid $primary-color;
                        }
                    }
                }
            }

            .ukm-title {
                font-size: 22px;
            }

            @include breakpoint-down(medium) {

                .slick-prev {
                    left: 5px;
                    z-index: 5;
                }

                .slick-next {
                    right: 5px;
                    z-index: 5;
                }

            }

            .slick-list {
                padding: 0 0 0 0 !important;
            }

            .col-md-7 {
                .container-ukm {
                    padding-left: 2rem;

                    @include breakpoint-down(medium) {
                        padding-left: 0;
                    }

                    .detail-head {
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

                        &.no-border {
                            border-bottom: none;
                        }

                        .description {
                            .desc-item {
                                padding-left: 1rem;
                                padding-bottom: 1.5rem;
                                border-left: 2px solid $secondary-color;

                                &:last-child {
                                    padding-bottom: .5rem;
                                }

                                h6 {
                                    color: $primary-color;
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }

                    .socials {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .social {
                        display: inline-flex;
                        justify-content: center;
                        padding: .75rem 2rem;
                        margin-right: 1rem;
                        margin-bottom: 1rem;

                        @include breakpoint-down(medium) {
                            min-width: 100%;
                        }
                    }
                }
            }

            .description-profile {
                height: 185px;
                overflow: hidden;

                &.active {
                    height: auto;
                }
            }

            #read_more {
                cursor: pointer;
            }
        }
    }
}

.categories-text {
    span:not(:last-child) {
        &:after {
            content: ',';
            padding-left: 2px;
            font-size: .75rem;
        }
    }
}