.ukm-page {
    .container {
        .row {
            .ukm-image {
                img {
                    border-radius: 1rem;
                }

                #carousel {
                    .slick-slide {
                        margin: 0 .5rem;
                        border-radius: 1rem;
                    }

                    .slick-current {
                        border: 2px solid $primary-color;
                    }
                }
            }

            .ukm-title {
                font-size: 22px;
            }

            @include breakpoint-down(medium) {
                
                .slick-prev {
                    left: 5px;
                    z-index: 5;
                }

                .slick-next {
                    right: 5px;
                    z-index: 5;
                }

            }
            .slick-list{
                padding:0 0 0 0 !important;
            }
            .col-md-7 {
                .container-ukm {
                    padding-left: 2rem;

                    @include breakpoint-down(medium) {
                        padding-left: 0;
                    }

                    .detail-head {
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);

                        .description {
                            .categories {
                                span:not(:last-child) {
                                    &:after {
                                        content: ',';
                                        padding-left: 2px;
                                        font-size: .75rem;
                                    }
                                }
                            }
                            .desc-item {
                                padding-left: 1rem;
                                padding-bottom: 1.5rem;
                                border-left: 2px solid $secondary-color;
                                height: 100%;

                                &.last {
                                    padding-bottom: .5rem;
                                }
                                
                                h6 {
                                    color: $primary-color;
                                }
                            }
                        }
                    }

                    .social {
                        display: inline-flex;
                        justify-content: start;
                        padding: .75rem 2rem;
                    }
                }
            }
        }
    }    
}