.catalog {
    .header {
        position: relative;
        .header-image {
            width: 100%;
            position: relative;

            @include breakpoint-down(small) {
                .image-container.ratio1x4 {
                    padding-top: 40%;
                }
            }

            .container {
                z-index: 10;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translate(-50%, -50%); 
                color: white;
    
                .row {
                    margin-left: 1rem;
                }
            }

            
            &:after {
                width:100%;
                height: 100%;
                background-color: rgba($primary-color, 0.4);
            }
        }

        
    }



    .body {
        margin-bottom: 2rem;

        .most-viewed {
            background-color: $darkgrey;
            padding: 2rem;
            
            .slick-slide {
                margin: 0 1rem;
            }

            .slick-list {
                padding:0 10% 0 0 !important;
            }

            .slick-prev {
                left: -12px;
            }

            .slick-next {
                right: -30px;
            }

            .slick-prev, .slick-next {
                &:before {
                    color: white;
                }
            }


            .most-viewed-text {
                > div {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    color: white;
                    padding: .5rem
                }
            }

            

            @include breakpoint-down(medium) {
                padding: 1rem .5rem;

                .slick-slide {
                    margin: 0 .5rem;
                }

                .slick-prev, .slick-next {
                    display: none;
                }

                .most-viewed-text {
                    > div {
                        padding: 0;
                    }
                }

                .ukm {
                    .ukm-wa {
                        img {
                            width: 35px;
                        }
                    }
                }
    
            }

            .ukm {
                box-shadow: none;
            }
        }

        .katalog-ukm {
            padding: 2rem 0 2rem 2rem; 

            @include breakpoint-down(medium) {
                padding: 1rem;
            }
        }

        #ukm_bests {
            .ukm-title {
                color: white;
            }
        }

        .filter-mobile {
            background-color: $secondary-color;
            color: white;
            font-size: 1.15rem;
            padding: .5rem 1rem;
            border-radius: 10px;
            font-weight: 500;

            i {
                font-size: .85rem;
                margin-right: .25rem;
            }
        }

        .city-selected {
            text-transform: capitalize;
        }

        .filter {
            background-color: $grey;
            padding: 2rem 1.5rem;
            margin-top: -25rem;
            border-radius: 2rem;
            z-index: 99;
            height: 660px;

            @include breakpoint-down(medium) {
                display: none;
            }
        }

        .search-ukm {
            position: relative;
            margin-bottom: 2rem;

            .form-control {
                border-radius: 12px;
            }

            .icon-search {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);

                i {
                    color: $primary-color
                }
            }
        }
    }

    nav {
        background-color: white;

        .page-link {
            color: $primary-color;

            &:hover {
                background-color: rgba($primary-color, 0.1);
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.25);
            }
        }

        .page-item.active .page-link {
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}


        
.ukm {
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-color: $grey;
    box-shadow: 3px 2px 7px rgb(0, 0, 0, 0.2);
    position: relative;

    .ukm-image {
        img {
            object-fit: cover;
            border-radius: 1rem;
            object-position: center;
        }
    }

    .ukm-wa {
        position: absolute;
        bottom: 15px;
        right: 15px;

        img {
            width: 40px;
        }
    }
}

.ukm-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    p {
        font-size: 1.15rem;
        font-weight: 500;
    }
}


.floating-button {
    position: fixed;
    width: auto;
    background-color: $primary-color;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    padding: 1rem 2rem;
    border-radius: 100px;
    color: white;
    align-items: center;

    .col-3  {
        display: flex;
        align-items: center;
    }

    @include breakpoint-down(small) {
        width: 70vw;
        font-size: .9rem;


        img {
            width: 35px;
        }
    }
}