.contact {
    padding-top: 3rem;
    .contact-info {
        .contact-title {
            display: inline-block;
            position: relative;
            margin-bottom: 2rem;
            padding-bottom: 1rem;
            text-transform: uppercase;
            font-weight: 700;

            &:after {
                position: absolute;
                content: '';
                height: 1px;
                width: 80%;
                bottom: 0;
                background-color: rgba(0,0,0,0.1);
            }
        }

        .contact-items {
            margin-top: 3rem;

            h5 {
                margin-bottom: 1rem;
            }

            .item {
                margin-bottom: .75rem;

                i {
                    padding: .5rem;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    border-radius: 50%;
                    position: relative;
                    width: 2.25rem;
                    height: 2.25rem;
                    margin-right: .5rem;
                    margin-top: 6px;

                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

.social {
    padding: .75rem 3rem;
    border-radius: 2rem;
    color: white;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    i {
        font-size: 1.5rem;
    }

    &.instagram {
        background: linear-gradient(90deg, #405DE6 0%, #5851DB 18.23%, #833AB4 40.62%, #C13584 64.58%, #E1306C 83.85%, #FD1D1D 100%);
    }

    &.whatsapp {
        background-color: #075E54;
    }

    &.facebook {
        background-color: #4267b2;
    }

    &.youtube {
        background-color: #FF0000;
    }

}