table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 20px;
    left: -2px;
}

.dashboard {
    .dataTables_filter {
        display: none;
    }

    .dataTables_info {
        display: none;
    }
}