$primary-color:#063934;
$secondary-color : #C38459;
$body : #000;
$background : #fff;
$darkgrey : #565455;
$grey : #BFBBBA;

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .2s ease-in;
    color: black;

    &:hover {
        text-decoration: none;
        color: $darkgrey;
        transition: all .2s ease-in;
    }
}

p {
    margin-bottom: 0;
}
