.footer {
    background: $secondary-color;
    color: $background;
    padding: 1.5rem 0;
    width: 100%;
    font-size: .9rem;

    .footer-item:first-child {
        border-top: none;
        padding-right: 3rem;
    }

    .social-icons {
        i {
            margin: 0 .5rem;
        }
    }

    @include breakpoint-down(small) {
        padding: 1rem 0;

        .example::-webkit-scrollbar {
            display: none;
        }

        .example {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .col-12 .footer-item {
            padding: 1rem 0;
            position: relative;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
        }

        .col-12:nth-child(2) .footer-item {
            border-top: none;
            padding-right: 0;
        }
    }

    ul {
        margin-bottom: 0;

        li {
            margin-bottom: .5rem;
        }
    }

    a {
        color: $background;
    }

}

.copyright {
    background-color: $third-color;
    color: white;
    font-size: .9rem;
    padding: .75rem 0;
}